<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DeskHub</title>
  <script src="https://kit.fontawesome.com/94c005aa00.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">

</head>
<body>
  <nav>
    <h1>DeskHub</h1>
  </nav>
  <div id='wrapper'>
    <div id='center' class="center">
      <form action="/user" method="POST" id="signInForm"> 
        <h1>Welcome to DeskHub</h1>
        <h2>Are you new here?</h2>
        <label for="returningUser">
          <input type="radio" id="returningUser" name="sign-in" value="returningUser">
          Sign In
        </label>
        <input type="text" class="returningUserText" name="returningName" placeholder="Username">
        <input type="text" class="returningUserText" name="returningPass" placeholder="Password">

        <label for="newUser">
          <input type="radio" id="newUser" name="sign-in" value="newUser">
          Create An Account
        </label> 
        <input type="text" class="newUserText" name="newName" placeholder="Choose a Username">
        <input type="text" class="newUserText" name="newPass" placeholder="Choose a Password">
        <input type="text" class="newUserText" name="locationCity" placeholder="Current location (City, state)">
        <label class="newUserText"> 
          <input type="checkbox" name="saveInfo">
          Save this information?
        </label>

        <input type="submit">
      </form>
  
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="/login.js"></script>
</body>
</html>