h1 {
  font-size: 25px;
}

button {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  border: none;
  padding: 5px 10px; 
  background-color: white;
  border-radius: 5px;
}

.center > ul > li > * {
  margin-bottom: 15px;
}

.center > ul > li > a {
  font-size: 18px;
  color: white;
}

.center > ul > li {
  margin-bottom: 25px;
  border: solid black;
  border-width: 0px 0px 2px 0px;
  overflow-x: hidden;
}

.center > ul > li:first-child {
  margin-top: 15px;
}

.center > ul {
  width: 80% !important;
}
