<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DeskHub</title>
  <script src="https://kit.fontawesome.com/94c005aa00.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="/assets/images/favicon.ico" />
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
  <link rel="stylesheet" href="/styles/modules/about.css">


</head>
<body>
  <%- include("../layout/header.ejs", {'index' : false}) %>

  <div id="wrapper">

    <div class="center">
      <section class="websiteBioSec">
        <h1>Thanks for visiting.</h1>
        <p>Brought to you by:</p>
      </section>
    </div>
    
    
    <div class="center">
        <!-- <div id="personalBios"> -->
          <section class="personalBioSec">
            <img src="/assets/images/ryan-pic.png" alt="Photo of Ryan Creamer">
            <h2>Ryan Creamer</h2>
            <p>I am a 20 year old, from Puyallup Washington. I have always loved to play video games and just tech in gerneal, i also like to make things and see how they come together, so i thought software development would be a perfect fit. I was unsure of where to go to learn, but my girlfriends brother has been in the tech industry for many years now and he recomended me to codefellows so I can be job ready.</p>
          </section>
          <section class="personalBioSec">
            <img src="/assets/images/garhett-pic.jpg" alt="Photo of Garhett Morgan">
            <h2>Garhett Morgan</h2>
            <p>Born and raised in Seattle. I have served in the Army for 5 years and, up until recently, was working in accounting for mid sized Kombucha Brewery. I decided to pursue my passion for computers by enrolling in Codefellows to study software engineering and haven't looked back. Now, I am on a journey to become a software engineer in cyber security. </p>
          </section>
          <section class="personalBioSec">
            <img src="assets/images/nicco-pic.jpg" alt="Photo of Nicco Ryan">
            <h2>Nicco Ryan</h2>
            <p>my name is Nicholas Ryan and I am 24 year old Software Developer specializing in Full-Stack JavaScript and Python and living in the Seattle area. In 2018 I graduated from University of Oregon with a Bachelor of Science Degree in Geology. Before I decided to change careers to software development I was a cook and manager in the food service industry. I've always loved building things, from Lego to models, and when I first started writing code I got the same satisfaction. I love the environment coding creates too, being surrounded by people who are as creative and driven as most programmers is one of the main things that drove me to the career transition.</p>
          </section>
          <section class="personalBioSec">
            <img src="assets/images/melissagalush.jpeg" alt="Photo of Melissa Galush">
            <h2>Melissa Galush</h2>
            <p>My background is in the health and legal fields.  A large part of my decision to go into this field is to find a way to make an impact in the world at a larger scale than I could make individually.  I am very passionate about mental health  and have big dreams of finding ways to use technology to improve the mental health of society as a whole.  I would love to grow and cultivate my skills within a small start up, as I have experience with several start ups and enjoy the personal aspects that can be found in that type of environment.</p>
          </section>
        <!-- </div> -->
    </div>
  </div>
  <script src="/app.js"></script>
  <script src="/about.js"></script>
  <script src="/theme.js"></script>

</body>
</html>